*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(66, 55, 55);
}
header{
  height: 70px;
  background-color: black;
  padding-top: 10px;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 700px;
  margin: auto;
  border-bottom: 1px solid rgb(24, 24, 139);
  padding-bottom: 10px;
}
li a{
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 900;
}
li a:hover{
  color: blue;
}
#main{
  display: flex;
}
#first-half{
  width: 50%;

}
#heading-div{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10vh 5vw;
}
h1{
  font-size: 40px;
  color: white;
}
#sub-headline{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10vh 5vw;
}
#button{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10vh 5vw;
  
}
button{
border-radius: 10px;
background-color: black;
color: white;  
border: 3px solid rgb(28, 18, 91);
padding-top: 15px;
padding-bottom: 15px;
padding-left: 40px;
padding-right: 40px;
cursor: pointer;
}
.checked{
  color: orange;
}
#rating{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10vh 5vw;
}
span{
  color: white;
}
#second-half{
  width: 50%;
 
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  #main {
    flex-direction: column;
  }

  #first-half, #second-half {
    width: 100%;
  }
}